:root {
  --primary-color: #ecbc00;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --main-font-family: "Roboto Slab";
  --text-font-family: "PT Mono";
}

.navbar-brand,
.nav-item {
  font-family: var(--main-font-family);
  color: #ecbc00;
}

.navbar-brand {
  font-weight: 700;
  font-size: 18px;
}

body {
  margin: 100px;
  background: linear-gradient(#bf94e4, #dda0dd, #fbaed2, #ee82ee);
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 0;
}

h1 {
  font-size: 96px;
  color: #feff1c;
}

h2 {
  font-size: 48px;
  font-weight: 700px;
  color: lavenderblush;
}

h3 {
  font-size: 24px;
  font-weight: 600px;
  color: lavenderblush;
}

p {
  font-size: 18px;
  font-family: var(--text-font-family);
  line-height: 1.5;
  text-align: left;
}

.about-paragraph {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--text-font-family);
}

.app-link {
  border-radius: 5px;
  padding: 20px 15px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-family: var(--main-font-family);
}

.app-link a {
  font-family: var(--main-font-family);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--main-font-family);
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--main-font-family);
}

.about-paragraph {
  margin: 30px 0;
}

.about-paragraph p {
  margin: 10px;
  font-family: var(--text-font-family);
}

.email-link {
  display: flex;
  justify-content: center;
  color: blue;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--main-font-family);
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-with: 600px) {
  h2 {
    font-size: 30px;
  }
}
