:root {
  --primary-color: #ecbc00;
  --secondary-color: #f5f2fe;
  --branding-color: lavenderblush;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: Georgia, "Times New Roman", Times, serif;
  --main-font-family: "Roboto Slab";
  --text-font-family: "PT Mono";
}

.navbar-brand,
.nav-item {
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.navbar-brand {
  font-weight: 700;
  font-size: 18px;
}

body {
  margin: 100px;
  background: linear-gradient(#bf94e4, #dda0dd, #fbaed2, #ee82ee);
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--heading-font-family);
  margin: 0;
}

h1 {
  font-size: 96px;
  color: #feff1c;
}

h2 {
  font-size: 50px;
  font-weight: 800px;
  color: var(--branding-color);
}

h3 {
  font-size: 24px;
  font-weight: 600px;
  color: var(--branding-color);
}

.project-description {
  padding: 10px 60px;
}

p {
  font-size: 18px;
  font-family: var(--text-font-family);
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  margin: 10px;
}

.about-me {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.site-link {
  font-family: var(--main-font-family);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  padding: 20px 15px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-family: var(--main-font-family);
  justify-content: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 5px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--branding-color);
  font-family: var(--main-font-family);
}

.email-link {
  display: flex;
  justify-content: center;
  color: blue;
  font-size: 28px;
  text-decoration: none;
  font-family: var(--main-font-family);
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-with: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 30px;
  }
  .project-description {
    padding: 30;
    text-align: center;
  }

  .about-me {
    text-align: center;
    padding: 0;
  }
}
